# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Swift / Xcode / SPM
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/
*.xcworkspace/
DerivedData/
.swiftpm/

# IDE
.vscode/
.idea/
*.swp
*.swo
